body {
    background-color: #f7f7f7;
}
#home {
    user-select: none;
}
.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}
.video-background {
    position: relative;
    overflow: hidden;
    height: 100vh; /* Full height section */
    width: 100%; /* Full width section */
    background: rgba(0, 0, 0, 0.1);
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Behind content */
    transform: translate(-50%, -50%);
    object-fit: cover; /* Cover the section */
}
.video-background .container {
    z-index: 10;
  }

.about {
    background: url("../images/image_5.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .about::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .about .container {
    z-index: 10;
  }

/* icons */
.fas {
    color: rgba(229, 58, 58, 0.82);
}
#first:hover {
    background-color: #022b5f;
}
.btn:hover {
    background-color: #fff;
    border: 1px solid #000
}
@media (max-width: 900px) {
    .header h1 {
        font-size: 60px !important;
        margin-top: -40px !important;
    }
    .header p {
        font-size: 27px !important;
    }
    .leading .read {
       justify-content: start !important;
    }
    .commercial h2 {
        font-size: 2rem !important;
        margin-top: -100px !important;
    }
    .commercial img {
        width: 100% !important;
        height:400px !important;
    }
    .infrastructure img, .residential img  {
        margin-top: -50px !important;
        width: 100% !important;
        height:400px !important;
    }
    .projects {
        margin-top: -20px !important;
    }
    .border-end {
        border-right: none !important;
    }
}